#nav  {
	background-color: #3E4651;
}



.navbar-brand {
    float: left;
    left: 2%;
    height: 50px;
    padding: 15px 15px;
    font-size: 23px;
    line-height: 27px;
    position: absolute;
}


html ,body {
	background-color: #D6D6D6;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}




/* responsive*/
@media only screen and (max-width: 780px) {
	img {
		vertical-align: middle;
    	width: 100%;
	}
	
}

@media only screen and (max-width: 1000px) {
	img {
		vertical-align: middle;
    	width: 80%;
	}
	
}


@media only screen and (min-width: 1010px) {
	img {
		vertical-align: middle;
    	width: 70%;
	}
	
}